node_modules/
dist/
.env
public/**
data/**
!public/images/
!public/app/
!public/app/**
!public/images/system/
!public/images/system/**
!public/images/upload/
!public/images/upload/vehicle
!public/images/upload/vehicle/temporary
!public/images/upload/avatar
!public/images/upload/avatar/temporary
!public/images/upload/notification
!public/images/upload/notification/temporary