<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>
    <title>Tank travel</title>
    <link rel="icon" href="/images/system/logotab.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/css/bill_information.css">
</head>
<body>
    <nav id="navbar">
        <div class="nav_logo"  id="nav_logo">TANK TRAVEL</div>
        <ul class="ul_links" id="ul_links">
            <li class="link" id="ticket-information"><a href="#"><i class="ri-coupon-2-fill"></i> Thông tin vé</a></li>
            <li class="link" id="Contact_us"><a href="#"><i class="ri-contacts-book-2-fill"></i> Liên hệ chúng tôi</a></li>
        </ul>
        <div class="personal_login" id="personal_infor">
            <button class="btn" id="signup_business">Đăng ký doanh nghiệp</button>
            <button class="btn" id="btn_login">Đăng nhập</button>
        </div>
    </nav>

    <div class="loader">
        <div class="justify-content-center jimu-primary-loading"></div>
    </div>

    <div class="dropdown_personal" id="dropdown_personal">
        <ul>
            <li class="link" id="profile"><a href="#"><i class="ri-profile-fill"></i> Thông tin cá nhân</a></li>
            <li class="link" id="logout"><a href="#" id="a_logout"><i class="ri-logout-box-r-fill"></i> Đăng xuất</a></li>
        </ul>
    </div>

    <section class="section_container payment_container" id="payment_container">
        <h1>Hoá đơn tổng</h1>
        <div class="user_information">
            <h2>Thông tin cá nhân:</h2>
            <div class="input__group">
                <input type="input" class="form__field" placeholder="Name" required="">
                <label for="name" class="form__label">Họ tên</label>
            </div>
            <div class="input__group">
                <input type="input" class="form__field" placeholder="Name" required="">
                <label for="name" class="form__label">Email</label>
            </div>
            <div class="input__group">
                <input type="input" class="form__field" placeholder="Name" required="">
                <label for="name" class="form__label">Số điện thoại</label>
            </div>
        </div>

        <div class="user_allticket">
            <h2>Thông tin vé đã đặt:</h2>
            <table>
                <thead>
                    <tr>
                        <th>Tên tuyến - vé</th>
                        <th>Số lượng</th>
                        <th>Giá tiền / vé</th>
                        <th>Tổng tiền</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>John Doe</td>
                        <td>john.doe@gmail.com</td>
                        <td>0123456789</td>
                        <td>99</td>
                    </tr>
                    <tr>
                        <td>Jane Vanda</td>
                        <td>jane@vanda.org</td>
                        <td>9876543210</td>
                        <td>349</td>
                    </tr>
                    <tr>
                        <td>Alferd Penyworth</td>
                        <td>alfred@batman.com</td>
                        <td>6754328901</td>
                        <td>199</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="money_total">
            <h2>Tổng: 200.000 VNĐ</h2>
        </div>
    </section>

    <footer class="section_container footer">
        <div class="footer__container">
            <div class="footer__col" id="img_trangchu">
                <img src="/images/system/TANK_logo_rmbg.png" alt="">
            </div>
            <div class="footer__col">
                <h3>POLICY</h3>
                <p>information security policy</p>
                <p>ticket delivery / receipt policy</p>
                <p>Cancellation / exchange / return policy</p>
                <p>Payment policy</p>
            </div>
            <div class="footer__col">
                <h3>CONTACT</h3>
                <p><i class="ri-facebook-circle-fill"></i> Minas Owen</p>
                <p><i class="ri-mail-fill"></i> thaindttb00919@fpt.edu.vn</p>
                <p><i class="ri-global-fill"></i> https://tanktravel.com</p>
            </div>
            <div class="footer__col">
                <h3>FOLLOW</h3>
                <p><i class="ri-facebook-circle-fill"></i> Facebook</p>
                <p><i class="ri-youtube-fill"></i> Youtube</p>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/bill_information.js"></script>
</body>
</html>