<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="icon" href="/images/system/TANK_logo_rmbg.png" type="image/x-icon">
    <title>Booking history</title>
    <link rel="stylesheet" href="/css/booking_history.css">
</head>
<body>
    <nav id="navbar">
        <div class="nav_logo"  id="nav_logo">TANK TRAVEL</div>
        <ul class="ul_links" id="ul_links">
            <li class="link" id="ticket-information"><a href="#"><i class="ri-coupon-2-fill"></i> Route information</a></li>
            <li class="link"><a href="#"><i class="ri-contacts-book-2-fill"></i> Contact us</a></li>
        </ul>
        <div class="personal_login" id="personal_infor">
            <button class="btn" id="signup_business">Business registration</button>
            <button class="btn" id="btn_login">Login</button>
        </div>
    </nav>

    <div class="dropdown_personal" id="dropdown_personal">
        <ul>
            <li class="link" id="profile"><a href="#"><i class="ri-profile-fill"></i> Your profile</a></li>
            <li class="link" id="logout"><a href="#"><i class="ri-logout-box-r-fill"></i> Log out</a></li>
        </ul>
    </div>

    <section class="section_container viewhistory_container">
        <div class="header_history">
            <h2>Booking history</h2>
            <div class="fucntion_search">
                <div class="menu">
                    <div class="item">
                      <a href="#" class="link">
                        <span> A period of time </span>
                        <svg viewBox="0 0 360 360" xml:space="preserve">
                          <g id="SVGRepo_iconCarrier">
                            <path
                              id="XMLID_225_"
                              d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"
                            ></path>
                          </g>
                        </svg>
                      </a>
                      <div class="submenu">
                        <div class="submenu-item">
                          <a href="#" class="submenu-link"> Yesterday </a>
                        </div>
                        <div class="submenu-item">
                          <a href="#" class="submenu-link"> 1 week ago </a>
                        </div>
                        <div class="submenu-item">
                          <a href="#" class="submenu-link"> 1 month ago </a>
                        </div>
                        <div class="submenu-item">
                          <a href="#" class="submenu-link"> 1 year ago </a>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="menu">
                    <div class="item">
                      <a href="#" class="link">
                        <span> Status </span>
                        <svg viewBox="0 0 360 360" xml:space="preserve">
                          <g id="SVGRepo_iconCarrier">
                            <path
                              id="XMLID_225_"
                              d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"
                            ></path>
                          </g>
                        </svg>
                      </a>
                      <div class="submenu">
                        <div class="submenu-item">
                          <a href="#" class="submenu-link"> Success </a>
                        </div>
                        <div class="submenu-item">
                          <a href="#" class="submenu-link"> Failed </a>
                        </div>
                        <div class="submenu-item">
                          <a href="#" class="submenu-link"> Browsing </a>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="body_history">
            <ul class="list_ticket">
                <li class="each_ticket">
                    <div class="information">
                        <h3>Da Lat to Ho Chi Minh city</h3>
                        <div class="date_local">
                            <div class="detail_ticket start_point">
                                <h4>Departure:</h4>
                                <p>Da Lat</p>
                            </div>
                            <div class="detail_ticket end_point">
                                <h4>Destination:</h4>
                                <p>Ho Chi Minh city</p>
                            </div>
                            <div class="detail_ticket date_begin">
                                <h4>Date:</h4>
                                <p>15/12/2025</p>
                            </div>
                            <div class="detail_ticket price">
                                <h4>Price:</h4>
                                <p>300.000 VND</p>
                            </div>
                            <div class="detail_ticket price">
                                <h4>Status:</h4>
                                <p>Success</p>
                            </div>
                        </div>
                        <div class="morinfor_bookbutton">
                            <button class="btn">More information</button>
                            <button class="btn">Book</button>    
                        </div>                    
                    </div>
                </li>
                <li class="each_ticket">
                    <div class="information">
                        <h3>Da Lat to Ho Chi Minh city</h3>
                        <div class="date_local">
                            <div class="detail_ticket start_point">
                                <h4>Departure:</h4>
                                <p>Da Lat</p>
                            </div>
                            <div class="detail_ticket end_point">
                                <h4>Destination:</h4>
                                <p>Ho Chi Minh city</p>
                            </div>
                            <div class="detail_ticket date_begin">
                                <h4>Date:</h4>
                                <p>15/12/2025</p>
                            </div>
                            <div class="detail_ticket price">
                                <h4>Price:</h4>
                                <p>300.000 VND</p>
                            </div>
                            <div class="detail_ticket price">
                                <h4>Status:</h4>
                                <p>Success</p>
                            </div>
                        </div>
                        <div class="morinfor_bookbutton">
                            <button class="btn">More information</button>
                            <button class="btn">Book</button>    
                        </div>
                    </div>    
                </li>
            </ul>
            <div class="see_more">
                <h3>See more <i class="ri-arrow-down-line"></i></h3>
            </div>
        </div>
    </section>

    <footer class="section_container footer">
        <div class="footer__container">
            <div class="footer__col" id="img_trangchu">
                <img src="/images/system/TANK_logo_rmbg.png" alt="">
            </div>
            <div class="footer__col">
                <h3>POLICY</h3>
                <p>information security policy</p>
                <p>ticket delivery / receipt policy</p>
                <p>Cancellation / exchange / return policy</p>
                <p>Payment policy</p>
            </div>
            <div class="footer__col">
                <h3>CONTACT</h3>
                <p><i class="ri-facebook-circle-fill"></i> Minas Owen</p>
                <p><i class="ri-mail-fill"></i> thaindttb00919@fpt.edu.vn</p>
                <p><i class="ri-youtube-fill"></i> https://tanktravel.com</p>
            </div>
            <div class="footer__col">
                <h3>FOLLOW</h3>
                <p><i class="ri-facebook-circle-fill"></i> Facebook</p>
                <p><i class="ri-youtube-fill"></i> Youtube</p>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/booking_history.js"></script>
</body>
</html>