<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>
    <title>Document</title>
    <link rel="stylesheet" href="/css/business_registration.css">
</head>
<body>
    <div class="nav_logo">TANK TRAVEL</div>
    <div class="bussiness_signup">
        <h1>Business registration</h1>
        <div class="input__group">
            <input type="input" class="form__field" id="business_name" placeholder="Name" required="">
            <label for="name" class="form__label">Name</label>
        </div>
        <div class="input__group">
            <input type="input" class="form__field" id="business_phone" placeholder="Name" required="">
            <label for="name" class="form__label">Phone</label>
        </div>
        <div class="input__group">
            <input type="input" class="form__field" id="business_email" placeholder="Name" required="">
            <label for="name" class="form__label">Email</label>
        </div>
        <div class="check_have_account">
            <label class="checkBox">
                <input id="ch1" type="checkbox">
                <div class="transition"></div>
            </label>
            <label>Alredy have an account in our system</label>
        </div>
        <button class="btn" id="btn">Signup</button>
        <p>Welcome to our business.</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/business_registration.js"></script>
</body>
</html>