<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="icon" href="/images/system/TANK_logo_rmbg.png" type="image/x-icon">
    <title>Change password</title>
    <link rel="stylesheet" href="/css/change_password.css">
</head>
<body>
    <div class="nav_logo"  id="nav_logo">TANK TRAVEL</div>
    <div class="form_takepass">
        <h1>Change password</h1>
        <div class="input__group">
            <input type="password" class="form__field" id="new_password" placeholder="Name" required="">
            <label for="name" class="form__label">New password</label>
        </div>
        <div class="input__group">
            <input type="password" class="form__field" id="confirm_new_password" placeholder="Name" required="">
            <label for="name" class="form__label">Confirm new password</label>
        </div>
        <button class="btn" id="btn" onclick="changePassword()">Confirm change</button>
        <p>A new password will be updated.</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/change_password.js"></script>
</body>
</html>