<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="icon" href="/images/system/logotab.jpg" type="image/x-icon">
    <script src="/js/check-login.js"></script>
    <title>Login</title>
    <link rel="stylesheet" href="/css/dang-nhap.css">
</head>
<body>
    <div class="nav_logo"  id="nav_logo">TANK TRAVEL</div>
    <main>
        <div class="signup_form">
            <div class="form">
                <h3>Sign up</h3>
                <div class="input__group">
                    <input type="input" class="form__field" id="username_register" placeholder="Name" required="">
                    <label for="name" class="form__label">Fullname</label>
                </div>
                <div class="input__group">
                    <input type="input" class="form__field" placeholder="Name" required="" id="email_register">
                    <label for="name" class="form__label">Email</label>
                    <button class="send_button" id="send_code_to_verify_email_register" onclick="sendEmailVerify(this)">Send code</button>
                </div>
                <div class="input__group">
                    <input type="input" class="form__field" id="phone_register" placeholder="Name" required="">
                    <label for="name" class="form__label">Phone number</label>
                </div>
                <div class="input__group">
                    <input type="password" class="form__field pass_confirm" id="password_register" placeholder="Name" required="">
                    <label for="name" class="form__label">Password</label>
                    <div class="see_pass"></div>
                </div>
                <div class="input__group">
                    <input type="password" class="form__field" id="comform_password_register" placeholder="Name" required="">
                    <label for="name" class="form__label">Confirm password</label>
                    <div class="see_pass"></div>
                </div>
                <div class="input__group">
                    <input type="password" class="form__field" id="email_verify_code" placeholder="Name" required="">
                    <label for="name" class="form__label">Verification code</label>
                </div>
                <span>Already have an account ? <a id="open_login">Login</a></span>
                <button class="btn" onclick="register()">Sign up</button>
            </div>
        </div>
        <div class="login_form" id="login_form">
            <div class="form">
                <span class="button_close" id="button_close"><i class="ri-close-large-line"></i></span>
                <h3 for="">Login</h3>
                <div class="input__group">
                    <input type="input" class="form__field" id="username_login" placeholder="Name" required="">
                    <label for="name" class="form__label">Username</label>
                </div>
                <div class="input__group">
                    <input type="password" class="form__field" id="password_login" placeholder="Name" required="">
                    <label for="name" class="form__label">Password</label>
                    <div class="see_pass"></div>
                </div>
                <span><a id="forget_password">I forgot my password !</a></span>
                <button class="btn" id="login" onclick="login()">Login</button>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/dang-nhap.js"></script>
</body>
</html>