<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="icon" href="/images/system/logotab.jpg" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="/js/check-login.js"></script>
    <title>Login</title>
    <link rel="stylesheet" href="/css/dang-nhap.css">
</head>
<body>
    <div class="nav_logo" id="nav_logo">TANK TRAVEL</div>
    <div class="loader">
        <div class="justify-content-center jimu-primary-loading"></div>
    </div>
    <main>
        <div class="signup_form">
            <div class="form">
                <h3>Đăng ký</h3>
                <div class="input__group">
                    <input type="input" class="form__field" id="username_register" placeholder="Name" required="">
                    <label class="form__label">Họ và tên</label>
                </div>
                <div class="input__group group_email">
                    <div>
                        <input type="input" class="form__field" placeholder="Name" required="" id="email_register">
                        <label class="form__label">Email</label>
                    </div>
                    <button class="send_button" id="send_code_to_verify_email_register" onclick="sendEmailVerify(this)">Gửi mã</button>
                </div>
                <div class="input__group">
                    <input type="input" class="form__field" id="phone_register" placeholder="Name" required="">
                    <label class="form__label">Số điện thoại</label>
                </div>
                <div class="input__group">
                    <input type="password" class="form__field pass_confirm" id="password_register" placeholder="Name" required="">
                    <label class="form__label">Mật khẩu</label>
                    <div class="close_pass"><i class="ri-eye-off-line"></i></div>
                    <div class="open_pass"><i class="ri-eye-line"></i></div>
                </div>
                <div class="input__group">
                    <input type="password" class="form__field pass_confirm" id="comfirm_password_register" placeholder="Name" required="">
                    <label class="form__label">Xác nhận mật khẩu</label>
                    <div class="close_pass"><i class="ri-eye-off-line"></i></div>
                    <div class="open_pass"><i class="ri-eye-line"></i></div>
                </div>
                <div class="input__group">
                    <input type="password" class="form__field" id="email_verify_code" placeholder="Name" required="">
                    <label class="form__label">Mã xác minh</label>
                </div>
                <span class="have_account">Đã có tài khoản ? <a id="open_login">Đăng nhập</a></span>
                <button class="btn" onclick="register()">Đăng ký</button>
            </div>
        </div>
        <div class="login_form" id="login_form">
            <div class="form">
                <span class="button_close" id="button_close"><i class="ri-close-large-line"></i></span>
                <h3 for="">Đăng nhập</h3>
                <div class="input__group">
                    <input type="input" class="form__field" id="username_login" placeholder="Name" required="">
                    <label class="form__label">Tên đăng nhập</label>
                </div>
                <div class="input__group">
                    <input type="password" class="form__field pass_confirm" id="password_login" placeholder="Name" required="">
                    <label class="form__label">Mật khẩu</label>
                    <div class="close_pass"><i class="ri-eye-off-line"></i></div>
                    <div class="open_pass"><i class="ri-eye-line"></i></div>
                </div>
                <span><a id="forget_password">Quên mật khẩu ?</a></span>
                <button class="btn" id="login" onclick="login()">Đăng nhập</button>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/dang-nhap.js"></script>
</body>
</html>