<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="icon" href="/images/system/logotab.jpg" type="image/x-icon">
    <title>Forgot password</title>
    <link rel="stylesheet" href="/css/forgot_password.css">
</head>
<body>
    <div class="loader">
        <div class="justify-content-center jimu-primary-loading"></div>
    </div>
    <div class="nav_logo"  id="nav_logo">TANK TRAVEL</div>
    <div class="form_takepass">
        <h1>Quên mật khẩu</h1>
        <div class="input__group">
            <input type="input" class="form__field" id="email_changepass" placeholder="Name" required="">
            <label for="name" class="form__label">Email</label>
        </div>
        <button class="btn" id="btn">Send code</button>
        <p>Một email sẽ được gửi đến hộp thư đến của bạn, điều này sẽ giúp chúng tôi xác minh rằng bạn là chủ sở hữu của email này.</p>
    </div>
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/forgot_password.js"></script>
</body>
</html>