<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>
    <title>Document</title>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <nav id="navbar">
        <div class="nav_logo">TANK TRAVEL</div>
        <ul class="ul_links" id="ul_links">
            <li class="link" id="ticket-information"><a href="#"><i class="ri-coupon-2-fill"></i> Route information</a></li>
            <li class="link"><a href="#"><i class="ri-contacts-book-2-fill"></i> Contact us</a></li>
        </ul>
        <div class="personal_login" id="personal_infor">
            <button class="btn" id="signup_business">Business registration</button>
            <button class="btn" id="btn_login">Login</button>
        </div>
    </nav>

    <div class="dropdown_personal" id="dropdown_personal">
        <ul>
            <li class="link" id="profile"><a href="#"><i class="ri-profile-fill"></i> Your profile</a></li>
            <li class="link" id="logout"><a href="#"><i class="ri-logout-box-r-fill"></i> Log out</a></li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/profile.js"></script>
</body>
</html>