<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="icon" href="/images/system/logotab.jpg" type="image/x-icon">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <nav id="navbar">
        <div class="nav_logo" id="nav_logo">TANK TRAVEL</div>
        <ul class="ul_links" id="ul_links">
            <li class="link" id="ticket-information"><a href="#"><i class="ri-coupon-2-fill"></i> Thông tin vé</a></li>
            <li class="link" id="Contact_us"><a href="#"><i class="ri-contacts-book-2-fill"></i> Liên hệ chúng tôi</a></li>
        </ul>
        <div class="personal_login" id="personal_infor">
            <button class="btn" id="signup_business">Đăng ký doanh nghiệp</button>
            <button class="btn" id="btn_login">Đăng nhập</button>
        </div>
    </nav>

    <!-- <div class="dropdown_personal" id="dropdown_personal">
        <ul>
            <li class="link" id="profile"><a href="#"><i class="ri-profile-fill"></i> Your profile</a></li>
            <li class="link" id="logout" id="a_logout"><a href="#" id="a_logout"><i class="ri-logout-box-r-fill"></i> Log out</a></li>
            <li class="link" id="bill_information"><a href="#"><i class="ri-coupon-2-fill"></i> Hoá đơn vé</a></li>
        </ul>
    </div> -->

    <section class="profile_container">
        <div class="profile_form">
            <h1>Thông tin cá nhân</h1>
            <div class="profile_big_infor">
                <div class="img_infor">
                    <img src="/images/system/nologin.jpg" id="img_infor_1" alt="No result">
                    <input type="file" id="imageInput" accept="image/*">
                </div>
                <div class="profile_information">
                    <div class="input__group">
                        <input type="input" class="form__field" id="displayname" placeholder="Name" required="">
                        <label for="name" class="form__label">Họ và tên:</label>
                    </div>
                    <div class="input__group">
                        <input type="input" class="form__field" id="email_user" placeholder="Name" required="">
                        <label for="name" class="form__label">Email:</label>
                    </div>
                    <div class="input__group">
                        <input type="input" class="form__field" id="phone_user" placeholder="Name" required="">
                        <label for="name" class="form__label">Số điện thoại:</label>
                    </div>
                    <div class="input__group">
                        <input type="input" class="form__field" id="pass_user" placeholder="Name" required="">
                        <label for="name" class="form__label">Mật khẩu:</label>
                    </div>
                    <button class="btn" id="btn_save_infor">Save</button>
                </div>
            </div>
        </div>
    </section>

    <footer class="section_container footer">
        <div class="footer__container">
            <div class="footer__col" id="img_trangchu">
                <img src="/images/system/TANK_logo_rmbg.png" alt="">
            </div>
            <div class="footer__col">
                <h3>CHÍNH SÁCH</h3>
                <p>Chính sách bảo mật thông tin</p>
                <p>Chính sách giao/nhận vé</p>
                <p>Chính sách hủy / đổi / trả vé</p>
                <p>Chính sách thanh toán</p>
            </div>
            <div class="footer__col">
                <h3>LIÊN HỆ</h3>
                <p><i class="ri-facebook-circle-fill"></i> Minas Owen</p>
                <p><i class="ri-mail-fill"></i> thaindttb00919@fpt.edu.vn</p>
                <p><i class="ri-global-fill"></i> https://tanktravel.com</p>
            </div>
            <div class="footer__col">
                <h3>THEO DÕI CHÚNG TÔI TẠI</h3>
                <p><i class="ri-facebook-circle-fill"></i> Facebook</p>
                <p><i class="ri-youtube-fill"></i> Youtube</p>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/profile.js"></script>
</body>
</html>