<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="icon" href="/images/system/logotab.jpg" type="image/x-icon">
    <!-- <script src="/js/check-login.js"></script> -->
    <title>Recharge</title>
    <link rel="stylesheet" href="/css/recharge.css">
</head>
<body>
    <nav id="navbar">
        <div class="nav_logo"  id="nav_logo">TANK TRAVEL</div>
        <ul class="ul_links" id="ul_links">
            <li class="link" id="ticket-information"><a href="#"><i class="ri-coupon-2-fill"></i> Thông tin vé</a></li>
            <li class="link" id="Contact_us"><a href="#"><i class="ri-contacts-book-2-fill"></i> Liên hệ chúng tôi</a></li>
        </ul>
        <div class="personal_login" id="personal_infor">
            <button class="btn" id="signup_business">Đăng ký doanh nghiệp</button>
            <button class="btn" id="btn_login">Đăng nhập</button>
        </div>
    </nav>

    <!-- <div class="dropdown_personal" id="dropdown_personal">
        <ul>
            <li class="link" id="profile"><a href="#"><i class="ri-profile-fill"></i> Your profile</a></li>
            <li class="link" id="logout"><a href="#" id="a_logout"><i class="ri-logout-box-r-fill"></i> Log out</a></li>
            <li class="link" id="bill_information"><a href="#"><i class="ri-coupon-2-fill"></i> Hoá đơn vé</a></li>
        </ul>
    </div> -->

    <div class="loaders">
        <div class="justify-content-center jimu-primary-loading"></div>
    </div>

    <section class="section_container recharge_container" id="recharge_container">
        <div class="recharge_form" id="recharge_choose">
            <h1>Nạp tiền</h1>
            <div class="form">
                <div class="form__group">
                    <div class="input__content">
                        <div class="input__group">
                            <input type="number" class="form__field" id="wallet_money" placeholder="Name" value="0" readonly>
                            <label for="name" class="form__label">Số dư: </label>
                        </div>
                        <p>Nạo tiền vào ví của tôi</p>
                    </div>
                </div>
                <div class="form__group">
                    <div class="input__content">
                        <div class="input__group">
                            <input type="number" class="form__field" id="money_view" placeholder="Name" value="0">
                            <label for="name" class="form__label">Số tiền (đồng): </label>
                        </div>
                        <p>Số tiền nạp</p>
                    </div>
                </div>
                <div class="class_money">
                    <button class="btn_toview" value="100000">100.000</button>
                    <button class="btn_toview" value="200000">200.000</button>
                    <button class="btn_toview" value="500000">500.000</button>
                    <button class="btn_toview" value="1000000">1.000.000</button>
                    <button class="btn_toview" value="1500000">1.500.000</button>
                    <button class="btn_toview" value="2000000">2.000.000</button>
                </div>
                <button class="btn" id="recharge_button">Nạp tiền</button>
            </div>
        </div>
        <div class="recharge_form recharge_payment">
            <h1>Cách 1:</h1>
            <p>Mở app banking trên điện thoại và quét mã QR dưới đây:</p>
            <img src="" alt="" id="bank-qr">
            <div class="loading_browsing">
                <p>Trạng thái: </p>
                <div class="loader">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                    <div class="bar4"></div>
                    <div class="bar5"></div>
                    <div class="bar6"></div>
                    <div class="bar7"></div>
                    <div class="bar8"></div>
                    <div class="bar9"></div>
                    <div class="bar10"></div>
                    <div class="bar11"></div>
                    <div class="bar12"></div>
                </div>
            </div>
        </div>
        <div class="recharge_form recharge_payment">
            <h1>Cách 2:</h1>
            <p>Chuyển thủ công theo thông tin:</p>
            <img src="/images/system/MB.png" alt="">
            <div class="information_master" id="bank-owner">
                Chủ tài khoản:
            </div>
            <div class="information_master" id="bank-number">
                Số tài khoản:
            </div>
            <div class="information_master" id="price_information">
                Số tiền:
            </div>
            <div class="information_master" id="bank-content">
                Nội dung chuyển tiền:
            </div>
        </div>
    </section>

    <footer class="section_container footer">
        <div class="footer__container">
            <div class="footer__col" id="img_trangchu">
                <img src="/images/system/TANK_logo_rmbg.png" alt="">
            </div>
            <div class="footer__col">
                <h3>CHÍNH SÁCH</h3>
                <p>Chính sách bảo mật thông tin</p>
                <p>Chính sách giao/nhận vé</p>
                <p>Chính sách hủy / đổi / trả vé</p>
                <p>Chính sách thanh toán</p>
            </div>
            <div class="footer__col">
                <h3>LIÊN HỆ</h3>
                <p><i class="ri-facebook-circle-fill"></i> Minas Owen</p>
                <p><i class="ri-mail-fill"></i> thaindttb00919@fpt.edu.vn</p>
                <p><i class="ri-global-fill"></i> https://tank-travel.io.vn/</p>
            </div>
            <div class="footer__col">
                <h3>THEO DÕI CHÚNG TÔI TẠI</h3>
                <p><i class="ri-facebook-circle-fill"></i> Facebook</p>
                <p><i class="ri-youtube-fill"></i> Youtube</p>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="/js/recharge.js"></script>
</body>
</html>