<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>
    <title>Ticket information</title>
    <link rel="stylesheet" href="/css/ticket-information.css">
</head>
<body>
    <nav id="navbar">
        <div class="nav_logo">TANK TRAVEL</div>
        <ul class="ul_links">
            <li class="link"><a href="#"><i class="ri-coupon-2-fill"></i> Ticket information</a></li>
            <li class="link"><a href="#"><i class="ri-contacts-book-2-fill"></i> Contact us</a></li>
        </ul>
        <div class="personal_login">
            <button class="btn" id="btn_login">Login</button>
            <div id="personal"></div>
        </div>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/ticket-information.js"></script>
</body>
</html>