<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>
    <title>Tank travel</title>
    <link rel="icon" href="/images/system/logotab.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/css/trang-chu.css">
</head>
<body>
    <nav id="navbar">
        <div class="nav_logo" id="nav_logo">TANK TRAVEL</div>
        <ul class="ul_links" id="ul_links">
            <li class="link" id="ticket-information"><a href="#"><i class="ri-coupon-2-fill"></i> Route information</a></li>
            <li class="link"><a href="#"><i class="ri-contacts-book-2-fill"></i> Contact us</a></li>
        </ul>
        <div class="personal_login" id="personal_infor">
            <button class="btn" id="signup_business">Business registration</button>
            <button class="btn" id="btn_login">Login</button>
        </div>
    </nav>

    <div class="dropdown_personal" id="dropdown_personal">
        <ul>
            <li class="link" id="profile"><a href="#"><i class="ri-profile-fill"></i> Your profile</a></li>
            <li class="link" id="logout"><a href="#" id="a_logout"><i class="ri-logout-box-r-fill"></i> Log out</a></li>
        </ul>
    </div>

    <header class="section_container section_header">
        <h1>A greatest website to find and booking<br><span id="text">An experience. </span></h1>
        <img src="/images/system/buss.jpg" alt="">
    </header>

    <section class="section_container booking_container">
        <div class="booking_nav">
            <span><i class="ri-bus-2-fill"></i> Bus</span>
            <span><i class="ri-train-fill"></i> Train</span>
        </div>
        <div class="form">
            <div class="form__group">
                <span><i class="ri-map-pin-line"></i></span>
                <div class="input__content">
                    <div class="input__group">
                        <input type="input" class="form__field" placeholder="Name" required="">
                        <label for="name" class="form__label">Departure</label>
                    </div>
                    <p>Add departure</p>
                </div>
            </div>
            <div class="form__group">
                <span><i class="ri-map-pin-line"></i></span>
                <div class="input__content">
                    <div class="input__group">
                        <input type="input" class="form__field" placeholder="Name" required="">
                        <label for="name" class="form__label">Destination</label>
                    </div>
                    <p>Add destination</p>
                </div>
            </div>
            <div class="form__group">
                <span><i class="ri-map-pin-line"></i></span>
                <div class="input__content">
                    <div class="input__group">
                        <input type="date" class="form__field" placeholder="Name" required="">
                        <label for="name" class="form__label">Date - Time</label>
                    </div>
                    <p>Add date - time</p>
                </div>
            </div>
            <div class="form__group">
                <button class="btn" id="search_bus"><i class="ri-search-2-line"></i></button>
            </div>
        </div>
    </section>

    <footer class="section_container footer">
        <div class="footer__container">
            <div class="footer__col" id="img_trangchu">
                <img src="/images/system/TANK_logo_rmbg.png" alt="">
            </div>
            <div class="footer__col">
                <h3>POLICY</h3>
                <p>information security policy</p>
                <p>ticket delivery / receipt policy</p>
                <p>Cancellation / exchange / return policy</p>
                <p>Payment policy</p>
            </div>
            <div class="footer__col">
                <h3>CONTACT</h3>
                <p><i class="ri-facebook-circle-fill"></i> Minas Owen</p>
                <p><i class="ri-mail-fill"></i> thaindttb00919@fpt.edu.vn</p>
                <p><i class="ri-youtube-fill"></i> https://tanktravel.com</p>
            </div>
            <div class="footer__col">
                <h3>FOLLOW</h3>
                <p><i class="ri-facebook-circle-fill"></i> Facebook</p>
                <p><i class="ri-youtube-fill"></i> Youtube</p>
            </div>
        </div>
    </footer>
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/trang-chu.js"></script>
</body>
</html>