@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #3d5cb8;
    --primary-dark-color: #334c99;
    --text-dark: #0f172a;
    --text-light: #64748b;
    --extra-light: #f1f5f9;
    --max-width: 100%;
    --white: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", serif;
}

.section_container {
  max-width: var(--max-width);
  margin: auto;
  padding: 3rem .5rem;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 1rem;
}

.viewhistory_container {
  display: flex;
  width: 70%;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  max-width: 1100px;
  border-radius: 2rem;
  gap: 2rem;
  border: 1px solid var(--extra-light);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.btn {
    padding: 0.75rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    background-color: var(--primary-color);
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .btn:hover {
    background-color: var(--primary-dark-color);
  }

  a {
    text-decoration: none;
  }

  nav {
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background-color: var(--extra-light);
    z-index: 999;
  }

  .ul_links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .link a {
    font-weight: 500;
    color: var(--text-light);
    transition: 0.3s;
  }

  .personal_login {
    display: flex;
    gap: 1rem;
  }

  .dropdown_personal {
    position: absolute;
    top: 90px;
    padding: 1.5rem;
    right: 20px;
    background-color: var(--extra-light);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    transform: translateY(-300px);
    transition: .4s ease-in-out;
    z-index: 999;
  }

  .dropdown_personal ul {
    list-style: none;
  }

  .dropdown_personal ul li a {
    color: var(--text-light);
  }

  .dropdown_personal ul li {
    padding: .5rem;
  }

  .dropdown_personal.active {
    transform: translateY(0);
  }

  #personal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 10px;
    padding: .5rem 1rem;
    background-color: var(--extra-light);
    cursor: pointer;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  }
  
  .link a:hover {
    color: var(--text-dark);
  }

  .nav_logo {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .header_history {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .header_history h2 {
    text-align: center;
    width: 50%;
  }

  .fucntion_search {
    display: flex;
    width: 50%;
    gap: .5rem;
  }

  /* From Uiverse.io by gharsh11032000 */ 
.menu {
  font-size: 16px;
  line-height: 1.6;
  color: #000000;
  width: fit-content;
  display: flex;
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.menu .link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 12px 36px;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu .link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu .link svg {
  width: 14px;
  height: 14px;
  fill: #000000;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu .item {
  position: relative;
}

.menu .item .submenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  border-radius: 0 0 16px 16px;
  left: 0;
  width: 100%;
  overflow: hidden;
  border: 1px solid #cccccc;
  background-color: white;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-12px);
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 1;
  pointer-events: none;
  list-style: none;
}

.menu .item:hover .submenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
  border-top: transparent;
  border-color: var(--primary-color);
}

.menu .item:hover .link {
  color: #ffffff;
  border-radius: 16px 16px 0 0;
}

.menu .item:hover .link::after {
  transform: scaleX(1);
  transform-origin: right;
}

.menu .item:hover .link svg {
  fill: #ffffff;
  transform: rotate(-180deg);
}

.submenu .submenu-item {
  width: 100%;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.submenu .submenu-link {
  display: block;
  padding: 12px 24px;
  width: 100%;
  position: relative;
  text-align: center;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.submenu .submenu-item:last-child .submenu-link {
  border-bottom: none;
}

.submenu .submenu-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  z-index: -1;
  transform-origin: left;
  transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.submenu .submenu-link:hover:before {
  transform: scaleX(1);
  transform-origin: right;
}

.submenu .submenu-link:hover {
  color: #ffffff;
}

.body_history {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
}

.list_ticket {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 2rem;
  list-style: none;
  width: 110%;
  position: relative;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.each_ticket {
  width: 100%;
  border-radius: 2rem;
  padding: 2.5rem 3rem;
  border: 1px solid var(--extra-light);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.date_local {
  display: flex;
  gap: 4rem;
}

.morinfor_bookbutton {
  width: 100%;
  display: flex;
  justify-content: right;
  gap: .5rem;
}

.see_more {
  cursor: pointer;
}


  footer {
    background-color: var(--primary-color);
  }

  .footer {
    margin-top: 4rem;
  }

  .footer__container {
    width: var(--max-width);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }

  .footer__col p {
    line-height: 2rem;
    color: var(--white);
  }

  .footer__col {
    width: 100%;
  }

  .footer__col img {
    width: 100%;
  }

  .footer__col h3 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--white);
    margin-bottom: 1rem;
  }