@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #3d5cb8;
    --primary-dark-color: #334c99;
    --text-dark: #0f172a;
    --text-light: #64748b;
    --extra-light: #f1f5f9;
    --max-width: 100%;
    --white: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  font-family: "Roboto", serif;
}

.section_container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 1rem;
}

nav {
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: var(--extra-light);
  z-index: 999;
}

.profile_container {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile_form {
  width: 60%;
  position: relative;
  overflow: hidden;
  height: auto;
  border-radius: 1rem;
  background: #07182E;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 5rem 2.5rem;
  z-index: 1;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.profile_form::before {
  content: '';
  position: absolute;
  width: 100px;
  background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
  height: 130%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.profile_form::after {
  content: '';
  position: absolute;
  background-color: white;
  inset: 5px;
  border-radius: 15px;
}  

.profile_form h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  z-index: 1;
  color: var(--primary-color);
}

.img_infor {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  width: 50%;
}

.img_infor img {
  border-radius: 50%;
  width: 100%;
}

.ul_contact {
  display: flex;
  justify-content: start;
  list-style: none;
  flex-direction: column;
}

.profile_big_infor {
  display: flex;
  width: 100%;
  gap: 5rem;
  z-index: 1;
}

.profile_information {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

input[type="file"]::file-selector-button {
  background-color: #4CAF50;
  color: white;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
}

.input__group {
  position: relative;
  width: 100%;
  padding: 15px 0;
}

/* From Uiverse.io by alexruix */ 
.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  color: var(--text-dark);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #116399, #38caef);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: var(--primary-color);
  font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}

.btn {
    padding: 1.5rem;
    width: 100%;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    background-color: var(--primary-color);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .btn:hover {
    background-color: var(--primary-dark-color);
  }

  #btn_safe_infor {
    height: 5rem;
  }

  a {
    text-decoration: none;
  }

  .ul_links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .link a {
    font-weight: 500;
    color: var(--text-light);
    transition: 0.3s;
  }

  .personal_login {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .dropdown_personal {
    position: absolute;
    top: 90px;
    padding: 1.5rem;
    right: 20px;
    background-color: var(--extra-light);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    transform: translateY(-300px);
    transition: .4s ease-in-out;
    z-index: 999;
  }

  .dropdown_personal ul {
    list-style: none;
  }

  .dropdown_personal ul li a {
    color: var(--text-light);
  }

  .dropdown_personal ul li {
    padding: .5rem;
  }

  .dropdown_personal.active {
    transform: translateY(0);
  }

  #signup_business{
    width: 100%;
    padding: .2rem 0;
  }

  #personal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 10px;
    padding: .5rem 1rem;
    color: var(--extra-light);
    background-color: var(--primary-color);
    cursor: pointer;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  }

  .So_du {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 10px;
    padding: .5rem 1rem;
    color: var(--extra-light);
    background-color: var(--primary-color);
    cursor: pointer;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  }
  
  .link a:hover {
    color: var(--text-dark);
  }

  .nav_logo {
    font-size: 1.5rem;
    padding: 0;
    font-weight: 500;
    cursor: pointer;
  }

  .menu {
    font-size: 16px;
    line-height: 1.6;
    color: #000000;
    width: fit-content;
    display: flex;
    list-style: none;
  }
  
  .menu a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  
  .menu .link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 12px 36px;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: var(--extra-light);
    overflow: hidden;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .menu .link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-dark-color);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .menu .link svg {
    width: 14px;
    height: 14px;
    fill: #000000;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .menu .item {
    position: relative;
  }
  
  .menu .item .submenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    border-radius: 0 0 16px 16px;
    left: 0;
    width: 100%;
    overflow: hidden;
    border: 1px solid #cccccc;
    opacity: 0;
    visibility: hidden;
    background-color: white;
    transform: translateY(-12px);
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 1;
    pointer-events: none;
    list-style: none;
  }
  
  .menu .item:hover .submenu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto;
    border-top: transparent;
    border-color: var(--primary-color);
  }
  
  .menu .item:hover .link {
    color: #ffffff;
    border-radius: 16px 16px 0 0;
  }
  
  .menu .item:hover .link::after {
    transform: scaleX(1);
    transform-origin: right;
  }
  
  .menu .item:hover .link svg {
    fill: #ffffff;
    transform: rotate(-180deg);
  }
  
  .submenu .submenu-item {
    width: 100%;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .submenu .submenu-link {
    display: block;
    padding: 12px 24px;
    width: 100%;
    position: relative;
    text-align: center;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .submenu .submenu-item:last-child .submenu-link {
    border-bottom: none;
  }
  
  .submenu .submenu-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    width: 100%;
    height: 100%;
    background-color: var(--primary-dark-color);
    z-index: -1;
    transform-origin: left;
    transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .submenu .submenu-link:hover:before {
    transform: scaleX(1);
    transform-origin: right;
  }
  
  .submenu .submenu-link:hover {
    color: #ffffff;
  }

  .loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .jimu-primary-loading:before,
  .jimu-primary-loading:after {
    position: absolute;
    top: 0;
    content: '';
  }
  
  .jimu-primary-loading:before {
    left: -19.992px;
  }
  
  .jimu-primary-loading:after {
    left: 19.992px;
    -webkit-animation-delay: 0.32s !important;
    animation-delay: 0.32s !important;
  }
  
  .jimu-primary-loading:before,
  .jimu-primary-loading:after,
  .jimu-primary-loading {
    background: #076fe5;
    -webkit-animation: loading-keys-app-loading 0.8s infinite ease-in-out;
    animation: loading-keys-app-loading 0.8s infinite ease-in-out;
    width: 13.6px;
    height: 32px;
  }
  
  .jimu-primary-loading {
    text-indent: -9999em;
    margin: auto;
    position: absolute;
    right: calc(50% - 6.8px);
    top: calc(50% - 16px);
    -webkit-animation-delay: 0.16s !important;
    animation-delay: 0.16s !important;
  }
  
  @-webkit-keyframes loading-keys-app-loading {
  
    0%,
    80%,
    100% {
      opacity: .75;
      box-shadow: 0 0 #076fe5;
      height: 32px;
    }
  
    40% {
      opacity: 1;
      box-shadow: 0 -8px #076fe5;
      height: 40px;
    }
  }
  
  @keyframes loading-keys-app-loading {
  
    0%,
    80%,
    100% {
      opacity: .75;
      box-shadow: 0 0 #076fe5;
      height: 32px;
    }
  
    40% {
      opacity: 1;
      box-shadow: 0 -8px #076fe5;
      height: 40px;
    }
  }
  
  footer {
    background-color: var(--primary-color);
  }

  .footer {
    margin-top: 4rem;
  }

  .footer__container {
    width: var(--max-width);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }

  .footer__col p {
    line-height: 2rem;
    color: var(--white);
    cursor: pointer;
  }

  .footer__col {
    width: 100%;
  }

  .footer__col img {
    width: 100%;
    cursor: pointer;
  }

  .footer__col h3 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--white);
    margin-bottom: 1rem;
  }