@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #3d5cb8;
    --primary-dark-color: #334c99;
    --text-dark: #0f172a;
    --text-light: #64748b;
    --extra-light: #f1f5f9;
    --max-width: 100%;
    --white: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  font-family: "Roboto", serif;
}

.section_container {
  width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 1rem;
}

.btn {
    padding: 0.75rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    background-color: var(--primary-color);
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .btn:hover {
    background-color: var(--primary-dark-color);
  }

  a {
    text-decoration: none;
  }

  nav {
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background-color: var(--extra-light);
    z-index: 999;
  }

  .ul_links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .link a {
    font-weight: 500;
    color: var(--text-light);
    transition: 0.3s;
  }

  .personal_login {
    display: flex;
    gap: 1rem;
  }

  .dropdown_personal {
    position: absolute;
    top: 90px;
    padding: 1.5rem;
    right: 20px;
    background-color: var(--extra-light);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    transform: translateY(-300px);
    transition: .4s ease-in-out;
    z-index: 999;
  }

  .dropdown_personal ul {
    list-style: none;
  }

  .dropdown_personal ul li a {
    color: var(--text-light);
  }

  .dropdown_personal ul li {
    padding: .5rem;
  }

  .dropdown_personal.active {
    transform: translateY(0);
  }

  #personal {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: .5rem 1rem;
    background-color: var(--extra-light);
    cursor: pointer;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  }

  .So_du {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 10px;
    padding: .5rem 1rem;
    background-color: var(--extra-light);
    cursor: pointer;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  }

  .link a:hover {
    color: var(--text-dark);
  }

  .nav_logo {
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
  }

  footer {
    background-color: var(--primary-color);
  }

  .footer {
    margin-top: 1rem;
  }

  .footer__container {
    width: var(--max-width);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }

  .footer__col p {
    line-height: 2rem;
    color: var(--white);
    cursor: pointer;
  }

  .footer__col {
    width: 100%;
  }

  .footer__col img {
    width: 100%;
    cursor: pointer;
  }

  .footer__col h3 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--white);
    margin-bottom: 1rem;
  }

  .list_ticket {
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 2rem;
    list-style: none;
    width: 100%;
    position: relative;
  }

  .information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .each_ticket {
    width: 100%;
    border-radius: 2rem;
    padding: 2.5rem 3rem;
    border: 1px solid var(--extra-light);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  }

  .ticket_information {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
  }

  .date_local {
    display: flex;
    gap: 4rem;
  }

  .morinfor_bookbutton {
    width: 100%;
    display: flex;
    justify-content: right;
    gap: .5rem;
  }

  .see_more {
    cursor: pointer;
  }

  .input__group {
    position: relative;
    padding: 15px 0;
  }

  .form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: var(--text-dark);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  
  .form__field::placeholder {
    color: transparent;
  }
  
  .form__field:placeholder-shown ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #116399, #38caef);
    border-image-slice: 1;
  }
  
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: var(--primary-color);
    font-weight: 700;
  }
  
  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }

  @media (max-width: 1321px) {
    .list_ticket {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 2rem;
    }
  }