<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test balance realtime</title>
</head>
<body>
  <h1 id="balance">10000000</h1>

  <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
  <script>
    const socket = io(`<%= host %>`);

    socket.emit("join-room", '679b24b3f1ffa30e718dd523');

    socket.on("update-balance", (data) => {
      const balance = document.getElementById('balance')
      
      if (data.type == '+') {
        const num = Number(balance.textContent)

        balance.textContent = num + data.value
      }
      else if (data.type == '-') {
        const num = Number(balance.textContent)
        
        balance.textContent = num - data.value
      }
    });
  </script>
</body>
</html>