<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test payment realtime</title>
</head>
<body>
  <h1 id="revenue">0</h1>

  <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
  <script>
    const socket = io(`http://localhost/`);
    // const socket = io(`<%= host %>`);

    socket.emit("connect-payment-realtime", 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiNjdhNzQ2OGM1ZjFhNTY3MzVhNWE3OGE4IiwidG9rZW5fdHlwZSI6MSwiaWF0IjoxNzM5OTc4NzcxLCJleHAiOjE3NDc3NTQ3NzF9.Khws8o8DnKS7jzSNkLfnI5MSbUjfHUiTwk_U9Q0BsUY', 'DH67b5f9b02c7b0013bb8a0eac');

    socket.on("update-order-status", (data) => {
      const balance = document.getElementById('revenue')
      
      console.log(data)
    })
  </script>
</body>
</html>